.Apple {
  position: absolute;
  animation-timing-function: linear;
  /*animation-iteration-count: infinite;*/
  animation-name: left-right-frames;
  z-index: 2;
}

@keyframes left-right-frames {
  from {
    left: 5%;
  }
  to {
    left: 95%;
  }
}

.apple-image {
  position: absolute;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  top: 49rem;
  width: 3.5rem;
}

.trajectory1 {
  animation-duration: 15s;
}

.trajectory1 .apple-image {
  animation-name: up-down-frames1;
}

@keyframes up-down-frames1 {
  0% {
    top: 49rem;
  }
  50% {
    animation-timing-function: ease-in;
    top: 7.7rem;
  }
  100% {
    top: 49rem;
  }
}

.trajectory2 {
  animation-duration: 9s;
  /*animation-delay: 4.3s;*/
}

.trajectory2 .apple-image {
  animation-name: up-down-frames2;
  /*animation-delay: 4.3s;*/
}
@keyframes up-down-frames2 {
  0% {
    top: 49rem;
  }
  50% {
    animation-timing-function: ease-in;
    top: 15rem;
  }
  100% {
    top: 49rem;
  }
}

.trajectory3 {
  animation-duration: 12s;
  /*animation-delay: 7.4s;*/
}

.trajectory3 .apple-image {
  animation-name: up-down-frames3;
  /*animation-delay: 7.4s;*/
}
@keyframes up-down-frames3 {
  0% {
    top: 49rem;
  }
  50% {
    animation-timing-function: ease-in;
    top: 20rem;
  }
  100% {
    top: 49rem;
  }
}
