.Footer {
  display: flex;
  height: 5%;
  max-width: 1024px;
  font-size: 15px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}

.github-link {
  color: whitesmoke;
}

.course-logo {
  width: 80px;
  height: 80%;
}
