.Game {
  width: 102.4rem;
  height: 57.6rem;
  position: relative;
  border: 0.5rem solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 2rem rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  user-select: none;
  overflow: hidden;
  text-align: center;
}
